{% extends 'base.html' %}

{% block content %}
<body style="background-color: cadetblue;">
    <br>
    <div class="container">
        <h1 class="mb-4 text-center" style="color: #e3f2fd;">All Tasks</h1>
        <form class="container col-md-6 d-flex" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <input class="col-md-2" placeholder="Title" 
            name="title" style="margin-right: 10px;" required>
            <input class="col-md-2" placeholder="Description" 
            name="description" style="margin-right: 10px;" required>

            <input class="col-md-2" type="date" placeholder="Due date" 
            name="due_date" style="margin-right: 10px;" required>
            <select name="category" id="category" style="margin-right: 10px;">
            {% for category in categorys %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            </select>
            <select name="status_fields" id="status" style="margin-right: 10px;">
            {% for statu,value in status.items %}
            <option value="{{ statu }}" style="margin-right: 10px;">{{ value }}</option>
            {% endfor %}
            </select>
            <select name="tag" id="tag" style="margin-right: 10px;" >
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
            </select>
            <button class="btn btn-info" type="submit" >Sumbit</button>
        </form>
        <br>
        <div class="row">
            {% for task in task_list %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <a class="card-title" href="{%url 'task_details' task.pk %}" style="font-size: larger;">{{ task.title }}<a>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Description: {{ task.description }}</li>
                        <li class="list-group-item">Status field: {{ task.status_fields }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br/></br/>
            <div class="row justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if task_list.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ task_list.previous_page_number}}">Previous</a></li>
                  {% endif %}
                  <li class="page-item"> <p class="page-link">Pages {{ task_list.number }} of {{ task_list.paginator.num_pages }}</p></li>
                  
                  {% if task_list.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ task_list.next_page_number}}">Next</a></li>
                  {% endif %}
                </ul>
              </nav>
              </div>
        </div>
    </div>  
</body>
{% endblock %}
        