{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">All Categorys</h1>
        <div class="row">
            {% for category in categorys %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a class="card-title" href="{%url 'category_details' category.pk %}">{{ category.name }}<a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
