{% extends 'base.html' %}

{% block content %}
<div style="background-color: gray;">
    <div class="container" >
        <br>
        <h1 class="mb-4" style="color: aliceblue;">All Categorys</h1>
        <div class="row">
            {% for category in categorys %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" class="img-fluid rounded-start  img-fluid" alt="{{ category.name }}" style="height: 23rem; width: 40rem; object-fit: cover; ">
                        {% endif%}
                        <div class="card-body">
                            <a class="card-title" href="{%url 'category_details' category.pk %}">{{ category.name }}<a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
