{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Post Details</h1>
        <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-fluid rounded-start  img-fluid" alt="{{ post.name }}" style="height: 20rem; width: 40rem; object-fit: cover; ">
                        {% endif%}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>
                            <p class="card-text">Author: {{ post.author }}</p>
                            <p class="card-text">Publication Date: {{ post.publication_date }}</p>
            
                            
                            <h2 class="mt-4">Comments for post</h2>
                            {% if comments %}
                                <ul class="list-group">
                                    {% for comment in comments %}
                                        <li class="list-group-item">{{ comment.content }}</li>
                                        <li class="list-group-item">{{ comment.author }},  {{ comment.date }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No posts found for this author.</p>
                            {% endif %}
                            <br>
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 5rem" data-sb-validations="required"></textarea>
                            <!-- <label for="message">Message</label> -->
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            <br>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
{% endblock %}